<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
    <!-- Card 1: Total Milk -->
    <div class="bg-white shadow-md rounded-lg p-4 outline-none border-x-4 border-green-400">
        <h3 class="text-lg font-bold">Total Products</h3>
        <p class="text-gray-600">{{analytics?.totalProducts}}</p>
    </div>
    <!-- Card 2: Prepayments -->
    <div class="bg-white shadow-md rounded-lg p-4 outline-none border-x-4 border-green-400">
        <h3 class="text-lg font-bold">Sales</h3>
        <p class="text-gray-600">{{analytics?.totalSales}}</p>
    </div>
    <!-- Card 2: Prepayments -->
    <div class="bg-white shadow-md rounded-lg p-4 outline-none border-x-4 border-green-400">
        <h3 class="text-lg font-bold">Gross Profit</h3>
        <p class="text-gray-600">{{analytics?.grossProfit}}</p>
    </div>


    <div class="bg-white shadow-md rounded-lg p-4 outline-none border-x-4 border-green-400">
        <h3 class="text-lg font-bold">Net Profit</h3>
        <p class="text-gray-600">{{analytics?.netProfit}}</p>
    </div>

</div>

<!-- Chart Section -->
<div class="container mx-auto mt-6 px-4">
    <div class="flex flex-col lg:flex-row flex-wrap gap-6 p-5 shadow-md bg-white rounded-lg">

        <!-- Pie Chart 1: Sales, Net, and Gross Profit -->
        <div class="flex-1 min-w-[300px] p-5 shadow-md rounded-md flex flex-col items-center">
            <p class="text-teal-500 text-xl underline font-semibold mb-4 text-center">
                Sales, Net, and Gross Profit
            </p>
            <div class="w-full h-64">
                <canvas id="pieChart1" class="w-full h-full"></canvas>
            </div>
        </div>

        <!-- Pie Chart 2: Totals (Employees and Products) -->
        <div class="flex-1 min-w-[300px] p-5 shadow-md rounded-md flex flex-col items-center">
            <p class="text-teal-500 text-xl underline font-semibold mb-4 text-center">Totals</p>
            <div class="w-full h-64">
                <canvas id="pieChart3" class="w-full h-full"></canvas>
            </div>
        </div>

        <!-- Pie Chart 3: Expense Totals -->
        <div class="flex-1 min-w-[300px] p-5 shadow-md rounded-md flex flex-col items-center">
            <p class="text-teal-500 text-xl font-semibold mb-4 text-center">Expense Totals</p>
            <div class="w-full h-64">
                <canvas id="pieChart2" class="w-full h-full"></canvas>
            </div>
        </div>

    </div>
</div>






