<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
    <!-- Card 1: Total Milk -->
    <div class="bg-white shadow-md rounded-lg p-4 outline-none border-x-4 border-green-400">
        <h3 class="text-lg font-bold">Total Products</h3>
        <p class="text-gray-600">{{analytics?.totalProducts}}</p>
    </div>
    <!-- Card 2: Prepayments -->
    <div class="bg-white shadow-md rounded-lg p-4 outline-none border-x-4 border-green-400">
        <h3 class="text-lg font-bold">Sales</h3>
        <p class="text-gray-600">{{analytics?.totalSales}}</p>
    </div>
    <!-- Card 2: Prepayments -->
    <div class="bg-white shadow-md rounded-lg p-4 outline-none border-x-4 border-green-400">
        <h3 class="text-lg font-bold">Gross Profit</h3>
        <p class="text-gray-600">{{analytics?.grossProfit}}</p>
    </div>


    <div class="bg-white shadow-md rounded-lg p-4 outline-none border-x-4 border-green-400">
        <h3 class="text-lg font-bold">Net Profit</h3>
        <p class="text-gray-600">{{analytics?.netProfit}}</p>
    </div>

</div>