<div class="fixed inset-0 flex items-center justify-center ">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm 
    w-full outline-none border-green-400 border-2">

        <div class="flex justify-center mb-2 ">
            <h2 class="text-xl font-bold text-green-500 ">product: (Product Name)</h2>
        </div>
        <div class="text-green mb-3">
            <hr class="border-0 border-t border-green-400 mb-2">
        </div>

        <div class=" flex mt-2 justify-center cursor-pointer relative shadow-md rounded-md p-2 bg-gray-200">
            <img src="../assets/boy.png" alt="User avatar" class="w-full h-30 rounded-full" />
        </div>

        <div class="flex mt-3 justify-between">
            <p>cost:ksh200</p>
            <p>stock:10</p>
        </div>
        <div class="justify-start" >
            <p>features</p>
            <ol>black</ol>
            <ol>black</ol>
        </div>
        <div class="mt-3">
            <hr class="border-0 border-t border-green-500 mb-2">
          </div>
        <div class="flex justify-end">
            <button type="button" (click)="closeViewForm()" class="bg-red-400 text-white p-2 
            rounded-md font-bold hover:bg-red-500">Close</button>
        </div>
    </div>
</div>