
<div class="fixed inset-0 flex items-center justify-center ">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm 
    w-full outline-none border-green-400 border-2">
  
  
      <div>
        <lib-toastify-toast-container></lib-toastify-toast-container>
      </div>
      <div class="flex justify-center mb-2 ">
        <h2 class="text-xl font-bold text-green-500 ">Stock product: (Product Name)</h2>
      </div>
      <div class="text-green mb-3">
        <hr class="border-0 border-t border-green-400 mb-2">
      </div>
      <!-- <form [formGroup]="milkForm" (ngSubmit)="submitMilkData()"> -->
      <form>
        <label for="stock" class="block text-gray-700 font-bold">Stock</label>
        <input id="stock" type="text" formControlName="stock" name="stock" placeholder="Select stock"
          class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md">
        <label for="itemCost" class="block text-gray-700 font-bold">Item Cost</label>
        <input id="itemCost" type="text" formControlname="itemCost" itemCost="itemCost" placeholder="Enter itemCost"
          class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md">
  


          <label for="Supplier" class="block text-gray-700 font-bold">Select Supplier</label>
          <select id="supplier" formControlName="date" name="supplier" class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md">
            <option *ngFor="let supplier of suppliers" [value]="supplier">{{ supplier }}</option>
          </select>




        
  
        <div class="flex justify-between">
          <button type="submit" class="bg-green-400 text-white p-2 
            rounded-md font-bold hover:bg-green-500">Add Stock</button>
            <button type="button" (click)="closeSForm()" class="bg-red-400 text-white p-2 
            rounded-md font-bold hover:bg-red-500">Close</button>
        </div>
  
      
      </form>
    </div>
  </div>