<div class="fixed inset-0 flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full outline-none border-green-400 border-2">
    <div>
      <lib-toastify-toast-container></lib-toastify-toast-container>
    </div>

    <div class="flex justify-center mb-2">
      <h2 class="text-xl font-bold text-green-500">Stock product: {{ productName }}</h2>
    </div>
    <hr class="border-0 border-t border-green-400 mb-3">

    <form [formGroup]="stockForm" (ngSubmit)="submitStockData()">
      <label for="stock" class="block text-gray-700 font-bold">Stock</label>
      <input
        id="quantity"
        type="number"
        formControlName="quantity"
        name="quantity"
        placeholder="Enter stock Quantity"
        class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md"
      />

      <label for="itemCost" class="block text-gray-700 font-bold">Item Cost</label>
      <input
        id="itemCost"
        type="number"
        formControlName="itemCost"
        placeholder="Enter item cost"
        class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md"
      />

      <label for="supplier" class="block text-gray-700 font-bold">Select Supplier</label>
      <select
        id="supplier"
        formControlName="supplier"
        class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md"
      >
        <option *ngFor="let supplier of suppliers" [value]="supplier.id">
          {{ supplier.supplierName }}
        </option>
      </select>

      <div class="flex justify-between">
        <button type="submit" class="bg-green-400 text-white p-2 rounded-md font-bold hover:bg-green-500">
          Add Stock
        </button>
        <button type="button" (click)="closeSForm()" class="bg-red-400 text-white p-2 rounded-md font-bold hover:bg-red-500">
          Close
        </button>
      </div>
    </form>
  </div>
</div>