<div class="fixed inset-0 flex items-center justify-center ">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm 
    w-full outline-none border-green-400 border-2">


    <div>
      <lib-toastify-toast-container></lib-toastify-toast-container>
    </div>
    <div class="flex justify-center mb-2 ">
      <h2 class="text-xl font-bold text-green-500 ">Add New Expense</h2>

    </div>
    <div class="text-green mb-3">
      <hr class="border-0 border-t border-green-400 mb-2">
    </div>
    <!-- <form [formGroup]="milkForm" (ngSubmit)="submitMilkData()"> -->
    <form [formGroup]="expenseForm" (ngSubmit)="submitExpenseData()">
      <label for="date" class="block text-gray-700 font-bold">Expense date</label>
      <input id="date" type="date" formControlName="date" name="date" placeholder="Select Expense date"
        class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md">
      <label for="amount" class="block text-gray-700 font-bold">Supplier amount</label>
      <input id="amount" type="text" formControlName="amount" name="amount" placeholder="Enter amount"
        class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md">

      <label for="description" class="block text-gray-700 font-bold">Expense description</label>
      <textarea id="description" type="text" formControlName="description" name="description"
        placeholder="Enter description"
        class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md"></textarea>


      <div class="flex justify-between">
        <button type="submit" class="bg-green-400 text-white p-2 
            rounded-md font-bold hover:bg-green-500">Upload</button>
        <button type="button" (click)="closeExForm()" class="bg-red-400 text-white p-2 
            rounded-md font-bold hover:bg-red-500">Close</button>
      </div>


    </form>
  </div>
</div>