<div class="fixed inset-0 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full outline-none border-green-400 border-2">
      <div>
        <lib-toastify-toast-container></lib-toastify-toast-container>
      </div>
      <div class="flex justify-center mb-2">
        <h2 class="text-xl font-bold text-green-500">Complete Sale</h2>
      </div>
      <div class="text-green mb-3">
        <hr class="border-0 border-t border-green-400 mb-2">
      </div>
  
      <form [formGroup]="checkOutForm" (ngSubmit)="CompleteSale()">
        <label for="saleTotal" class="block text-gray-700 font-bold">Sale Total</label>
        <input id="saleTotal" type="text" [value]="totalInCart" class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md" disabled>
        <label for="customerName" class="block text-gray-700 font-bold">Customer Name</label>
        <input id="customerName" formControlName="customerName" placeholder="Enter customer Name"
          class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md">


        <label for="customerPhone" class="block text-gray-700 font-bold">Customer Phone</label>
        <input id="customerPhone" formControlName="customerPhone" placeholder="Enter customer phone"
          class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md">
  
        <label for="customerAddress" class="block text-gray-700 font-bold">Customer Address</label>
        <input id="customerAddress" formControlName="customerAddress" placeholder="Enter customer address"
          class="border p-2 w-full mb-4 focus:outline-none focus:border-green-500 focus:border-2 rounded-md">
  
        <div class="flex justify-between">
          <button type="submit" class="bg-green-400 text-white p-2 rounded-md font-bold hover:bg-green-500">Add</button>
          <button type="button" (click)="closeForm()" class="bg-red-400 text-white p-2 rounded-md font-bold hover:bg-red-500">Close</button>
        </div>
      </form>
    </div>
  </div>