<div class="container mx-auto relative my-6">

    <div class="text-white my-4 flex justify-between items-center">
      <!-- Button for adding product -->
      <button (click)="openAddExpense()"
        class="bg-green-400 p-2 rounded-md text-2xl flex items-center justify-center font-bold hover:bg-green-500 focus:ring-2 focus:ring-green-300"
        type="button">
        <span><ng-icon name="heroPlusCircle" class="mr-3 text-2xl"></ng-icon></span>Add Expense
      </button>
  
      <!-- Buttons for PDF and Excel, aligned to the far end -->
      <div class="flex space-x-2">
        <button
          class="bg-green-400 p-2 rounded-md text-white font-bold hover:bg-green-500 focus:ring-2 focus:ring-green-300"
          type="button">PDF</button>
  
      </div>
    </div>
    <!-- Modal for Add Expense form -->
    <div *ngIf="showAddExpense"
      class="fixed inset-0 z-50 flex items-center justify-center bg-green-300 bg-opacity-50 backdrop-blur-sm">
      <div class="bg-white p-6 rounded-lg shadow-lg relative">
        <app-add-expense (close)="closeAddExpense()"></app-add-expense>
  
        <!-- Close button for Add Expense modal -->
        <button (click)="closeAddExpense()" class="absolute top-2 right-2 text-red-500 hover:text-red-800">
          <ng-icon name="heroXMark" class="mr-3 text-2xl text-red-600"></ng-icon>
        </button>
      </div>
    </div>
  <div class="shadow-sm rounded-sm bg-white p-4">
    <!-- Table displaying payments -->
    <table class="table-auto border-collapse border  border-slate-500 w-full">
      <thead>
        <tr>
          <th class="border border-slate-600 text-left p-2">Expense Date</th>
          <th class="border border-slate-600 text-left p-2">Amoun</th>
          <th class="border border-slate-600 text-left p-2">Description</th>
        
          <th class="border border-slate-600 text-left p-2">Action</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-slate-600 p-2">2024-10-10</td>
          <td class="border border-slate-600 p-2">10000</td>
          <td class="border border-slate-600 p-2 text-left">Office renovation</td>
          
          <td class="border border-slate-600 p-2">
  
            <div class="flex justify-between">
            
                <button type="submit" class="bg-red-400 text-white p-2 
                rounded-md font-bold hover:bg-red-500">Delete</button>
                
            </div>
          </td>
  
        </tr>
      </tbody>
    </table>
  </div>
    <lib-toastify-toast-container></lib-toastify-toast-container>
  
  
  </div>